homeassistant:
  auth_providers:
    - type: homeassistant
   # - type: legacy_api_password
  # Name of the location where Home Assistant is running
  name: Home
  # Location required to calculate the time the sun rises and sets
  latitude: 50.707545
  longitude: -120.412399
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: 365
  # metric for Metric, imperial for Imperial
  unit_system: metric
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: America/Vancouver
  # Customization file
  customize: !include customize.yaml

# some test change
    
shell_command:
  edit_known_devices: grep -v "pattern" filename > filename2; mv filename2 filename

# Show links to resources in log and frontend
introduction:

# Enables the frontend
frontend:
  themes: !include themes.yaml

mqtt:
  broker: m16.cloudmqtt.com 
  port: 17738
  username: !secret mqttusername
  password: !secret mqttpassword
    
panel_iframe:
  configurator:
    title: Configurator
    icon: mdi:wrench
    url: http://hassio.local:321
  terminal:
    title: Terminal
    icon: mdi:console
    url: https://addres.to.your.hass.io:7681
    
    
# Enables configuration UI
config:
person:
default_config:

# Uncomment this if you are using SSL/TLS, running in Docker container, etc.
# http:
#   base_url: example.duckdns.org:8123

# Checks for available updates
# Note: This component will send some information about your system to
# the developers to assist with development of Home Assistant.
# For more information, please see:
# https://home-assistant.io/blog/2016/10/25/explaining-the-updater/
updater:
  # Optional, allows Home Assistant developers to focus on popular components.
  include_used_components: true

# Discover some devices automatically
discovery:

# Allows you to issue voice commands from the frontend in enabled browsers
conversation:

# Enables support for tracking state changes over time
history:

# View all events in a logbook
logbook:

# Enables a map showing the location of tracked devices
map:

tuya:
  username: !secret tuyausername
  password: !secret tuyapassword
  country_code: 1
  platform: smart_life

# Track the sun
sun:
device_tracker:
#  - platform: googlehome
#    host: 192.168.1.67
#  - platform: googlehome
#    host: 192.168.1.76
  - platform: tile
    username: !secret tileusername
    password: !secret tilepassword
    monitored_variables:
      - TILE
      - PHONE
weather:
  - platform: darksky
    api_key: !secret darksky_api_key
    
# Sensors
sensor: 
  - platform: mqtt
    name: "WIFI SENSOR NAME"
    state_topic: "homeassistant/sensor/android_ha_app_cw_wifi/state"
    value_template: "{{ value_json.status }}"
    json_attributes:
      - ssid
      - link_speed
      - bssid
      - rssi
      - ip
      - signal
      - mac
  - platform: darksky
    api_key: !secret darksky_api_key
    forecast:
      - 0
    monitored_conditions:
      - summary
      - icon
      - temperature
  # Weather prediction
  - platform: yr
  
  - platform: time_date
    display_options:
      - 'time'
      - 'date'
      - 'date_time'
      - 'time_date'
      - 'time_utc'
      - 'beat'
  
  - platform: template
    sensors:
      sun_up_down:
        friendly_name: 'Sun Position'
        value_template: >
          {% if states.sun.sun.attributes.elevation > 0 %}
          {{states.sun.sun.attributes.elevation | abs}} above the horizon
          {% else %}
          {{states.sun.sun.attributes.elevation | abs}} below the horizon
          {% endif %}
      solar_angle:
        value_template: '{{ states.sun.sun.attributes.elevation | abs }}'
        friendly_name: 'Sun Angle'
        unit_of_measurement: 'degrees'
      sunrise:
        value_template: '{{ as_timestamp(states.sun.sun.attributes.next_rising) | timestamp_custom("%H:%M") }}'
      sunset:
        value_template: '{{ as_timestamp(states.sun.sun.attributes.next_setting) | timestamp_custom("%H:%M") }}'
      #away_device:
      #  value_template: '{{ {% for state in states.device_tracker %} {{ state.entity_id }} {% endfor %} }}'
  
 # - platform: history_stats
 #   name: away device
  #  entity_id: '{{ {% for state in states.device_tracker %} {{ state.entity_id }} {% endfor %} }}'
  
#    state: 'away'
  #  type: time
  #  start: '{{ now().replace(hour=0).replace(minute=0).replace(second=0) }}'
#    end: '{{ now() }}' 
    
    
notify:
  - platform: webostv
    host: 192.168.0.73
    name: Wingnut
    filename: webostv.conf


# Text to speech
tts:
  - platform: google

# Cloud
cloud:
system_health:
switch:
  - platform: wake_on_lan
    name: Wingnut
    mac_address: a8:23:fe:78:a0:37
  - platform: vesync
    username: !secret vesyncusername
    password: !secret vesyncpassword
light:
  - platform: switch
    name: Living Room Light
    entity_id: switch.032000735ccf7f73125a
  - platform: switch
    name: Photon Producer
    entity_id: switch.lamp
  - platform: switch
    name: Christmas Lights
    entity_id: switch.christmas_lights
  - platform: switch
    name: Charlie's bed side lamp
    entity_id: switch.002006595ccf7fbbc582_1
  - platform: switch
    name: Courtenay's bed side lamp
    entity_id: switch.002006595ccf7fbbc582_4
  - platform: group
    name: Basement Lights
    entities:
      - light.07484075807d3a4a669f
      - light.07484075bcddc28873fa
media_player:
  - platform: webostv
    host: 192.168.1.73
    name: Wingnut
    filename: webostv.conf
    timeout: 5
    turn_on_action:
      service: switch.turn_on
      entity_id: switch.Wingnut
    customize:
      sources:
        - livetv
        - youtube
        - netflix
        - HDMI 1
        - LG Content Store
    
ios:
ffmpeg:
ps4:
camera:
  - platform: onvif
    host: 192.168.1.75
    name: ipcam
    username: !secret ipcamusername
    password: !secret ipcampassword
  - platform: ffmpeg
    #ffmpeg_bin: /usr/bin/avconv
    name: Camera
    input: !secret ffmpeginput
    extra_arguments: -pred 1 -q:v 2
 
    
group: !include groups.yaml
#automation: !include automations.yaml
script: !include scripts.yaml
